{% extends 'account/auth_base.html' %}
 {% load static %}
{% block title %} FORGOT PASSWORD | SplitUnity {% endblock title %} 
{% block auth_main %}

<div class="col-sm-4 centered-form">
  <img src="/static/assets/img/splitunity.png" class="login-logo" />
  <form action="" method="POST">
    {% csrf_token %}
	<div>
		Enter your email address and we'll send you a link you can use to pick a new password.
	</div>
    <div class="login-form">
      <div class="form-group">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn">LOGIN</button>
      </div>
      <div class="text-center no-account"><a href="{% url 'login' %}">Go Back To Login</a></div>
    </div>
    <input type="hidden" value="1" />
  </form>
</div>

{% endblock %}
