{% extends 'account/auth_base.html' %}
{% load i18n static %}
{% block title %} FORGOT PASSWORD | SplitUnity {% endblock title %} 
{% block auth_main %}


<div class="col-sm-4 centered-form">
  <img src="/static/assets/img/splitunity.png" class="login-logo" />

  <form id="id_password_reset_form" method="POST" class="form-signin">{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
    <div class="login-form">
      <div class="form-group">

        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
      </div>
    </div>
    <button id="id_submit_btn" type="submit" class="btn btn-lg btn-primary btn-block" >Send reset email</button>  
  </form>
</div>





{% endblock %}