{% load static %}
<footer id="haru-footer-main" class="footer-2" style="padding-bottom: 0;background-color:#1a051d; position: relative; bottom: 0;">
  <div class="container clearfix">
    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
      class="vc_row wpb_row vc_row-fluid vc_custom_1588822220987 vc_row-has-fill">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
           
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
             
              <div class="wpb_column vc_column_container vc_col-sm-7">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="wpb_text_column wpb_content_element  vc_custom_1604162226354 secondary-font cl-secondary">
                      <div class="wpb_wrapper">
                        <p style="text-align: center;">© {% now "Y" %} SplitUnity by Wald. All Rights Reserved.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-5">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="wpb_text_column wpb_content_element  vc_custom_1604162226354 secondary-font cl-secondary">
                      <div class="wpb_wrapper">
                        <span style="text-align: center;margin-left:2rem;">Terms Of Service</span>
                        <span style="text-align: center;margin-left:2rem;">About</span>
                        <span style="text-align: center;margin-left:2rem;">Privacy Policy</span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
  </div>
</footer>