{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %} 
<!DOCTYPE html>
<!-- Open HTML -->
<html lang="en-US">
  <!-- Open Head -->
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.documentElement.className =
        document.documentElement.className + ' yes-js js_active js';
    </script>
    <title>
        SplitUnity |  {{ video.title }}
    </title>
    {% include "links.html" %}
    <style>
      div.membership{
        height:50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      :is(div.membership h2){
        color:blue;
      }
    </style>
  </head>

  <!-- Close Head -->
  <body>
    <!-- Display newsletter popup -->
    <!-- Open haru main -->
    <div class="membership">
      <h2 class="select_payment">Select Payment Method</h2>
      <script src="https://www.paypal.com/sdk/js?client-id=AUkO28R3bNvVvuPhDUPKcss2Aa5pUK5gGwzv-ICMJwMWC_FZ6l8Gx5-1bytwnkFECtbGYOHE9upVbBDn&currency=USD"></script>
      <div id="paypal-button-container"></div>
      <!-- Set up a container element for the button -->

  <script>
    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '{{ channel.price }}' // Can also reference a variable or function
            }
          }]
        });
      },
      // Finalize the transaction after payer approval
      onApprove: (data, actions) => {
        return actions.order.capture().then(function(orderData) {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          const transaction = orderData.purchase_units[0].payments.captures[0];
          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
          // When ready to go live, remove the alert and show a success message within this page. For example:
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
          window.location.href = "{% url 'core:membership_subscribe' c_id=channel.id %}"
        });
      }
    }).render('#paypal-button-container');
  </script>
   </div>
    <!-- Close haru main -->
    

   {% include "scripts.html" %}
  </body>

</html>
