{% load static %}
<header
  id="haru-mobile-header"
  class="haru-mobile-header header-mobile-3 header-mobile-sticky"
>
  <div class="haru-mobile-header-wrap menu-mobile-fly">
    <div class="container haru-mobile-header-container">
      <div class="haru-mobile-header-inner">
        <div
          class="toggle-icon-wrap toggle-mobile-menu"
          data-ref="haru-nav-mobile-menu"
          data-drop-type="fly"
        >
          <div class="toggle-icon"><span></span></div>
        </div>

        <!-- Header mobile customize -->
        <div class="header-elements" style="font-size: inherit">
          <div class="header-elements-item">
            <div class="video-search-shortcode style-button">
              <a
                href="javascript:;"
                class="video-search-button"
                data-effect="search-zoom-in"
                ><i class="haru-icon haru-search"></i
              ></a>
              <div
                id="video-search-popup-0"
                class="video-search-popup white-popup mfp-hide mfp-with-anim"
              >
              <form
              role="search"
              method="get"
              class="haru-video-search search-form"
              action="{% url 'core:search' %}"
            >
              <label for="haru-video-search-field-1">
                <span class="screen-reader-text">Search for:</span>
                <input
                  type="search"
                  id="haru-video-search-field-1"
                  class="search-field"
                  placeholder="Search videos&hellip;"
                  name="q"
                />
              </label>
              <button type="submit" class="search-submit" value="Search">
                <span>Search</span>
              </button>
              <input type="hidden" name="{{querystring}}" value="haru_video" />
            </form>
              </div>
            </div>
          </div>
          <div class="header-elements-item">
            <div class="user-menu-shortcode default">
              <div class="user-account-wrap">
                <div class="user-account-content logged-out">
                  {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="user-menu-login"
                    ><i class="fa fa-sign-out"></i
                  ></a>
                  {% else %}
                  <a href="{% url 'login' %}" class="user-menu-login"
                    ><i class="haru-icon haru-user"></i
                  ></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          
          <div class="header-elements-item">
            <div class="">
              {% if user.is_authenticated %}
              <a href="{% url 'users:profile' request.user.slug %}" class="">
                <span class="">
                  {% if request.user.profile_picture %}
                  <img src="{{request.user.profile_picture.url}}" alt="User Avatar"
                     class="img-fluid rounded-full pointer-events-none"
                     style="width: 40px;height: 40px;object-fit: cover;" />
                  {% else %}
                  <img src="{% static 'assets/img/custom.jpg' %}" alt="User Avatar"
                     class="img-fluid rounded-full pointer-events-none"
                     style="width: 35px;height: 35px;object-fit: cover;" />
                  {% endif %} 
                  <span class="watch-later-status"></span>
                </span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End Header mobile customize -->
        <div class="header-logo-mobile">
          <a href="{% url 'core:index' %}" class="logo-retina" title="SplitUnity">
            {% if page_contents.navbar_logo %}
            <img
              src="{{ page_contents.navbar_logo.url }} "
              alt="SPLITUNITY"
              style="max-height: 60px"
            />
            {% else %}
            <img
              src=""
              alt="SPLITUNITY"
              style="max-height: 60px"
            />
            {% endif %}
          </a>
        </div>
      </div>
      <div
        id="haru-nav-mobile-menu"
        class="haru-mobile-header-nav menu-mobile-fly"
      >
        <div class="mobile-menu-header">
          Menu<span class="mobile-menu-close"></span>
        </div>

        <ul id="menu-mobile-menu" class="haru-nav-mobile-menu">
          <li
            id="menu-item-mobile-626"
            class="haru-menu menu_style_dropdown menu-item menu-item-type-post_type menu-item-object-page level-0"
          >
            <a href="{% url 'core:index' %}">Home</a>
          </li>
          <li
            id="menu-item-mobile-627"
            class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
          >
          <a href="{% url 'core:videos' %}">Videos</a>
          </li>
          <li
            id="menu-item-mobile-632"
            class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
          >
          <a href="{% url 'core:channels_list' %}">Channels</a>
          </li>
          {% if request.user.is_authenticated %}
                 {% if channel %}
          <li
            id="menu-item-mobile-2423"
            class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
          >
          <a
          href="/{{ user.username }}/channel"
          style="font-size: larger; font-weight: 400"
          >Welcome {{ user.username }}</a
        >
          </li>
          {% else %}
          <li
            id="menu-item-mobile-2423"
            class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
          >
          <a href="{% url 'users:profile' request.user.slug %}">Welcome {{ user.username }}</a>
          </li>
          {% endif %} 
         {% endif %}

        
        </ul>
        <div class="mobile-header-social">
          <ul class="header-elements-item header-social-network-wrap">
            {% if request.user.is_authenticated %}
            {% if channel %}
     <li
       id="menu-item-mobile-2423"
       style="width: 100%; margin-bottom: 1rem;">
     <a
             href="/new_video"
             class="button-background button-background--primary button-background--medium"
             style="width: 100%;"
             >Upload Video</a
           >
     </li>
     {% else %}
     <li
       id="menu-item-mobile-2423"
       style="width: 100%; margin-bottom: 1rem;">
     <a
             href="/createchannel"
             class="button-background button-background--primary button-background--medium"
             style="width: 100%;"
             >Create Channel</a
           >
     </li>
     {% endif %} 
    {% endif %}
          </ul>
        </div>
      </div>
      <div class="haru-mobile-menu-overlay"></div>
    </div>
  </div>
</header>
<header
  id="haru-header"
  class="haru-main-header header-10 header-sticky sticky_light"
>
  <div class="haru-header-nav-above-wrap">
    <div class="container">
      <div class="header-nav-above d-flex justify-content-between">
        <div class="header-left align-self-center">
          <div class="header-elements header-elements-left header-logo has-logo-sticky">
            <a href="{% url 'core:index' %}" class="logo-retina" title="SplitUnity">
              {% if page_contents.navbar_logo %}
              <img
                src="{{ page_contents.navbar_logo.url }} "
                alt="SPLITUNITY"
                style="max-height: 70px"
              />
              {% else %}
              <img
                src=""
                alt="SPLITUNITY"
                style="max-height: 70px"
              />
              {% endif %}
            </a>
          </div>
        </div>
        <div class="header-right align-self-center">
          <div class="header-elements header-elements-right">
            <div class="header-elements-item">
              <div class="video-search-shortcode style-button">
                <a
                  href="javascript:;"
                  class="video-search-button"
                  data-effect="search-zoom-in"
                  ><i class="haru-icon haru-search"></i
                ></a>
                <div
                  id="video-search-popup-1"
                  class="video-search-popup white-popup mfp-hide mfp-with-anim"
                >
                  <form
                    role="search"
                    method="get"
                    class="haru-video-search search-form"
                    action="{% url 'core:search' %}"
                  >
                    <label for="haru-video-search-field-1">
                      <span class="screen-reader-text">Search for:</span>
                      <input
                        type="search"
                        id="haru-video-search-field-1"
                        class="search-field"
                        placeholder="Search videos&hellip;"
                        name="q"
                        
                      />
                    </label>
                    <button type="submit" class="search-submit" value="Search">
                      <span>Search</span>
                    </button>
                    <input type="hidden" name="{{querystring}}" value="haru_video" />
                  </form>
                </div>
              </div>
            </div>
            <div class="header-elements-item">
              <div class="user-menu-shortcode default">
                <div class="user-account-wrap">
                  <div class="user-account-content logged-out">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="user-menu-login"
                      ><i class="fa fa-sign-out"></i
                    ></a>
                    {% else %}
                    <a href="{% url 'login' %}" class="user-menu-login"
                      ><i class="haru-icon haru-user"></i
                    ></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            
            <div class="header-elements-item">
              <div class="">
                {% if request.user.is_authenticated %}
                <a href="{% url 'users:profile' request.user.slug %}" class="">
                  <span class="">
                    {% if request.user.profile_picture %}
                    <img src="{{request.user.profile_picture.url}}" alt="User Avatar"
                       class="img-fluid rounded-full pointer-events-none"
                       style="width: 40px;height: 40px;object-fit: cover;" />
                    {% else %}
                    <img src="{% static 'assets/img/custom.jpg' %}" alt="User Avatar"
                       class="img-fluid rounded-full pointer-events-none"
                       style="width: 35px;height: 35px;object-fit: cover;" />
                    {% endif %} 
                    <span class="watch-later-status"></span>
                  </span>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="haru-header-nav-wrap" style="background-color: rgba(26, 5, 29, 0.9); color:white;">
    <div class="container">
      <div
        class="header-navigation navbar navbar-toggleable-md"
        role="navigation"
      >
        <div class="d-flex justify-content-between mx-auto">
          <div class="header-primary-menu">
            <div id="primary-menu" class="menu-wrap">
              <ul id="main-menu" class="haru-main-menu nav-collapse navbar-nav">
                <li
                  id="menu-item-841"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children level-0"
                >
                  <a style="color: white;" href="{% url 'core:index' %}">Home</a>
                </li>
                <li
                  id="menu-item-76"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a style="color: white;" href="{% url 'core:videos' %}">Videos</a>
                </li>
                <li
                  id="menu-item-131"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a style="color: white;" href="{% url 'core:channels_list' %}">Channels</a>
                </li>
                {% if request.user.is_authenticated %}
                 {% if channel %}
                <li
                  id="menu-item-1152"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a
                    href="/{{ user.username }}/channel"
                    style="font-size: larger; font-weight: 400;color: white;"
                    >Welcome {{ user.username }}</a
                  >
                </li>
                  {% else %}
                  <li
                  id="menu-item-1152"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a
                    href="{% url 'users:profile' request.user.slug %}"
                    
                    >Welcome {{ user.username }}</a
                  >
                </li>
                   {% endif %} 
                   {% endif %}
              </ul>
            </div>
          </div>
          
          {% if user.is_authenticated %}
           {% if channel %}
          <div class="header-elements d-flex align-self-center">
            <div class="header-elements header-elements-nav">
              <div class="header-elements-item custom-text-wrap">
                <a
                  href="/new_video"
                  class="button-background button-background--primary button-background--medium"
                  >Upload Video</a
                >
              </div>
            </div>
          </div>
          {% else %}
          <div class="header-elements d-flex align-self-center">
            <div class="header-elements header-elements-nav">
              <div class="header-elements-item custom-text-wrap">
                <a
                  href="/createchannel"
                  class="button-background button-background--primary button-background--medium"
                  >Create Channel</a
                >
              </div>
            </div>
          </div>
          {% endif %} 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
